<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Options</title>
    <link rel="stylesheet" href="/css/homestyle.css"> <!-- Optional CSS for styling -->
</head>
<body>
    <h1>Welcome to Event Automation Testing</h1>
    <!-- <p>Welcome to Automation</p> -->
    <div class="options-container">
        <a href="/events" class="option-button">Go to Events page</a>
        
        <!-- <a href="/fetch-mixpanel-events" class="option-button">Fetch Mixpanel Events</a>
        <a href="/mixpanel-events" class="option-button">Mixpanel Events</a>
        
        <a href="/linked-list-new" class="option-button">final-Events</a> -->
    </div>
</body>
</html>